@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat';
}

.App {
  text-align: center;
  background-color: #269;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-image:
   -webkit-linear-gradient(SlateGrey 2px, transparent 2px),
   -webkit-linear-gradient(0, SlateGrey 2px, transparent 2px),
   -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
   -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
  background-image:
   -moz-linear-gradient(SlateGrey 2px, transparent 2px),
   -moz-linear-gradient(0, SlateGrey 2px, transparent 2px),
   -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
   -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
  background-image:
   linear-gradient(SlateGrey 2px, transparent 2px),
   linear-gradient(90deg, SlateGrey 2px, transparent 2px),
   linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
   linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;  
}

.h2 {
  font-size: 10px;
}

.adress {
  max-width: 60vh;
}

.container {
  margin-top: 5vh;
  height: 40vh;
  font-size: calc(12px + 2vmin);
  color: #ffffff;  
  display: flex;
  justify-content: center;
}

.kp {
  margin-right: 10vh;
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover  {
    color: yellow;
    text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}